<%= form_for @question do |f| %>
  Question: <%= f.text_field :title %><br />
  Description: <%= f.text_area :content %><br />
  <%= f.submit %>
<% end %>

<% if flash[:notice] %>
  <p class='errors'>
  Errors:
  <%= flash[:notice] %></p>
  <% end %>