<div class="ques-answer cf">
  <h3>Register</h3>
  <% if @user.errors.any?  %>
  <div class="error-messages">
    <h4 class="alert-alert">Warning:</h4>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li class="alert-alert"><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br><br>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br><br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br><br>
    <div class="submit-btn"><%= f.submit %></div>
  <% end %>
</div>

