<h3><%= @user.username %> profile</h3>
<p>Past Questions:</p>
  <ul>
    <% @user.questions.each do |q| %>
      <li><%= q.title %></li>
    <% end %>
  </ul>
<p>Answers You've Given:</p>
  <ul>
    <% @user.answers.each do |a| %>
      <li>Answer: <%= a.content %> | Question: <%= a.question %>, by: <%= a.question.asker %></li>
    <% end %>
  </ul>
