<div class="btns">
  <div class="btn">
    <%= link_to "Sort by highest votes", '/votes' %>
  </div>
  <div class="btn">
  <%= link_to "Sort by trendieness", '/trendiness' %>
  </div>
  <div class="btn">
  <%= link_to "Sort by most recent", '/recentness' %>
  </div>
</div>

<div class="ques-list">
<% @questions.each do |q| %>
  <h3><%= link_to q.title, question_path(q) %></h3>
  <div><%= q.vote_count %> votes</div>
  <div><%= q.answers.size%> answers</div>
  <div><%= q.view_count %> views</div>
<% end %>
</div>

