<p>Answer: <strong><%= answer.content %></strong></p>
<div>Answered by: <%= answer.answerer.username %></div>
<%= render "votes/vote_count", :object => answer%>
<% if logged_in? %>
  <% if answer.vote_on_this?(current_user.id)  %>
    <%= render "votes/vote_form", :object => answer, :vote => @vote %>
  <% end %>
  <%= link_to "comment", new_answer_response_path(answer) %>
<% end %>
<%= render :partial => "responses/response", :collection => answer.responses %>
<hr>