<!DOCTYPE html>
<html>
<head>
  <title>StackOverphil</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <nav>
      <div class="content">
        <ul>
        <% if logged_in? %>
          <li><%= link_to current_user.username, user_path(current_user.id) %> </li>
          <li><%= link_to "logout", logout_path %></li>
        <% else %>
          <li><%= link_to "register", register_path %></li>
          <li><%= link_to "login", login_path %></li>
        <% end %>
          <li><%= form_tag('/search', method: 'get') do %>
              <%= text_field_tag(:terms) %>
              <%= submit_tag('Search') %>
              <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="content">
      <header>
        <%= link_to image_tag("stackoverphil-logo.png", :border => 0), root_path %>
        <div class="btns">
          <div class="btn">
            <%= link_to "Ask Question", new_question_path %>
          </div>
          <div class="btn">
            <%= link_to "Tags", tags_path %>
          </div>
        </div>
      </header>
      <div id="main">
       <%= yield %>
      </div>
    </div>
      <div class="push"></div>
  </div>
      <footer>
        <div class="center">
          <p id="copyright">&copy; stackoverphil 2015</p>
        </div>
      </footer>
</body>
</html>
